/* SECTION 1 */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .logo{
    margin-left: 46px;
    margin-top: -35px;
    z-index: 10;
    position: absolute;
    width: 200px;
  }

  .grey-dot {
    height: 700px;
    width: 700px;
    background-color: #BEB8AC;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -200px;
    top: -300px;
    z-index: 5;
  }

  .white-dot{
    height: 500px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -100px;
    top: -200px;
    z-index: 6;
  }
  .title{
    position: relative;
    z-index: 7;
    color: #FFFFFF;
    margin-left: 40%;
  }

  .title .bebas-neue-regular{
    font-size: 100px;
    margin-bottom: -20px;
  }

  .title .inter{
    font-size: 20px;
    margin-left: 15%;
  }

  .white-bar{
    height: 6px;
    width: 100px;
    color: #FFFFFF;
    margin-left: 40%;
    position: relative;
    z-index: 15;
  }

body{
    background-color: black;
  }
  
  .festival-img{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    border: black;
    border-radius: 20px;
    padding-bottom: 43px;
  }

/* FIN SECTION 1 */

/* SECTION 2 */
.white-bg{
    background-color: #FFFFFF;
    margin-left: -7px;
    margin-right: -7px;
}

.white-bg h2{
    padding-top: 38px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
}

.marquage{
    background: lavender;
}
/* FIN SECTION 2 */

/* SECTION 3 */
.grey-bg{
    background-color: #BEB8AC;
    margin-left: -7px;
    margin-right: -7px;
    padding-bottom: 60px;
}
.phone-text{
    display: flex;
    padding-top: 60px;
    padding-right: 15%;
    padding-left: 15%;
}

.description{
    padding-left: 50px;
    align-items: center;
}

.underline{
    text-decoration: underline;
}

.download{
    padding-top: 50px;
    display: flex;
    padding-right: 100px;
    padding-left: 35%;
}

.apple{
    margin-left: 80px;
}
/* FIN SECTION 3 */

/* SECTION 4 */
.fullphone{
    padding-top: 60px;
    padding-bottom: 70px;
    position: relative;
    z-index: 10;
    width: 500px;
}

.blob-phone{
    display: flex;
}

.blob1{
    position: relative;
    z-index: 10;
    width: 40%;
}

.blob1-text{
    position: absolute;
    z-index: 11;
    padding-top: 280px;
    padding-left: 180px;
    color: #FFFFFF;
}

.blob2{
    position: absolute;
    z-index: 10;
    width: 40%;
    bottom: 10px;
}

.blob3{
    position: relative;
    z-index: 10;
    width: 40%;
}

.blob3-text{
    position: absolute;
    z-index: 11;
    padding-top: 300px;
    padding-left: 1040px;
    color: #FFFFFF;
}
/* FIN SECTION 4 */

/* Style pour la popup d'installation */
.install-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup-content {
  padding: 15px;
  text-align: center;
}

.popup-content h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.download-buttons a {
  margin: 10px;
}

.download-buttons img {
  width: 120px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}








/* Style pour la popup d'installation */
.install-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup-content {
  padding: 15px;
  text-align: center;
}

.popup-content h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.download-buttons a {
  margin: 10px;
}

.download-buttons img {
  width: 120px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}








@media only screen and (max-width: 500px) {
  .fullphone{
    width: 300px;
  }

  .circles{
    display: none;
  }

  .title{
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    color: red;
  }

  .phone-text{
    flex-direction: column;
  }

  .download{
    flex-direction: column;
  }

  .apple{
    margin-left: 0px;
  }

  .blob1-text{
    margin-left: -100px;
    margin-top: -200px;
  }

  .blob3-text{
    margin-top: -300px;
    margin-left: 100px;
  }
  
}

@media only screen and (max-width: 1200px){
  .blob1{
    display: none;
  }

  .fullphone{
    display: flex;
    flex-direction: column;
  }

  .blob1-text{
    position: relative;
    color: black;
    margin-top: -150px;
  }

  .blob3-text{
    position: relative;
    color: black;
    padding-left: 0px;
    margin-top: -350px;
  }

  .blob-phone{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  .blob3{
    display: none;
  }


}


@media only screen and (min-width: 1530px) {
  .blob1-text{
    padding-top: 300px;
    padding-left: 150px;
    font-size: large;
  }

  .blob3-text{
    padding-left: 1070px;
    padding-top: 300px;
    font-size: large;
  }
}

@media only screen and (min-width: 1590px) {
  .blob3-text{
    padding-left: 1200px;
    padding-top: 320px;
    font-size: large;
  }
}

@media only screen and (min-width: 1600px) {
  .blob3-text{
    padding-left: 1150px;
    padding-top: 320px;
    font-size: large;
  }
}

@media only screen and (min-width: 1800px) {
  .blob3-text{
    padding-left: 1300px;
    padding-top: 320px;
    font-size: large;
  }
}

@media only screen and (min-width: 1900px) {
  .blob1-text{
    padding-top: 360px;
    padding-left: 200px;
    font-size: large;
  }

  .blob3-text{
    padding-left: 1400px;
    padding-top: 360px;
    font-size: large;
  }
}

@media only screen and (min-width: 2080px) {

  .blob3-text{
    padding-left: 1500px;
    padding-top: 360px;
    font-size: large;
  }
}

@media  only screen and (min-width: 2200px) {

  .blob1-text{
    padding-top: 400px;
    padding-left: 200px;
    font-size: x-large;
  }

  .blob3-text{
    padding-left: 1550px;
    padding-top: 400px;
    font-size: x-large;
  }
}

@media only screen and (min-width: 2360px)  {
  .blob1-text{
    padding-top: 400px;
    padding-left: 250px;
    font-size: x-large;
  }

  .blob3-text{
    padding-left: 1650px;
    padding-top: 400px;
    font-size: x-large;
  }
}

footer{
  display: flex;
  margin-left: 42%;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
  color: #BEB8AC;
}

.cookies{
  margin-left: 20px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  